:root {
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
    --aqi-1: #d4e157;
    --aqi-2: #ffee58;
    --aqi-3: #ffca28;
    --aqi-4: #ff7043;
    --aqi-5: #ef5350;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: white;
    font-family: sans-serif;
    padding: 0 15px;
}


.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

.header #city {
    background-color: var(--bg-color2);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: white;
}

.header #city:focus {
    outline: none;
}

.header #searchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

.header #locationBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 25px;
    background-color: rgb(184, 80, 80);
    cursor: pointer;
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    color: #999;
}

.card h2 {
    font-size: 32px;
    font-weight: 500;
}

.weather-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.weather-left {
    grid-column: span 1;
}

.weather-left .current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-left .current-weather h2 {
    margin: 7px 0;
}

.weather-left .current-weather p {
    color: #fff;
}

.weather-left .card-footer p {
    font-size: 14px;
    margin-bottom: 12px;
}

.weather-left .forecast-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 15px;
}

.weather-left .forecast-item .icon-wrapper {
    display: flex;
    align-items: center;
}

.weather-right {
    grid-column: span 3;
}

.weather-right h2 {
    margin-bottom: 10px;
}

.weather-right .highlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    & .card:nth-of-type(1),
    & .card:nth-of-type(2) {
        grid-column: span 2;
    }
}

.weather-right .highlights .card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weather-right .highlights .card-head .air-index {
    color: #000;
    padding: 5px 10px;
    border-radius: 15px;
}

.weather-right .highlights .card-head .air-index.aqi-1 {
    background-color: var(--aqi-1);
}

.weather-right .highlights .card-head .air-index.aqi-2 {
    background-color: var(--aqi-2);
}

.weather-right .highlights .card-head .air-index.aqi-3 {
    background-color: var(--aqi-3);
}

.weather-right .highlights .card-head .air-index.aqi-4 {
    background-color: var(--aqi-4);
}

.weather-right .highlights .card-head .air-index.aqi-5 {
    background-color: var(--aqi-5);
}
.air-indices{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}
.air-indices .p{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}
.air-indices .item{
   display:grid;
   align-items: center;

}
.air-indices .item h2{
    margin-top: 20px;
    align-items: center;
    margin-right: 20px;
 
 }
.sunrise-sunset{
    display:grid;
    grid-template-columns: repeat(2,1fr);  
}

.sunrise-sunset .item{
    display: flex;
    align-items: center;
    gap:10px;
}
.sunrise-sunset .item h2{
    margin-top: 15px;
}
.card-item{
    display: flex;
    justify-content: space-between;
}
.hourly-forecast{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    column-gap: 10px;
}
.hourly-forecast .card{
    text-align: center;
}
@media(max-width:1100px){
    .weather-data{
        grid-template-columns:repeat(3,1fr);  
    }
    .weather-data .weather-right{
        grid-column: span 2;
    }
    .weather-data .weather-right .highlights{
        grid-template-columns: repeat(3,1fr);
        & .card:nth-of-type(1){
            grid-column: span 3;
        }
        }
    .hourly-forecast{
        grid-template-columns: repeat(6,1fr);
    }
}
@media(max-width:1040px){
    .weather-data{
        grid-template-columns:repeat(2,1fr);  
    }
    .weather-data .weather-right{
        grid-column: span 1;
    }
    .weather-data .weather-right .highlights{
        grid-template-columns: repeat(2,1fr);
        & .card:nth-of-type(1){
            grid-column: span 2;
        }
        }

    .hourly-forecast{
        grid-template-columns: repeat(4,1fr);
    }
}
@media(max-width:902px){
   
    .weather-data .weather-right .highlights .card{
        grid-column: span 2;
    }
    .air-indices{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width:850px){
   
    .weather-data{
        grid-template-columns: 1fr;
        & .weather-right .highlights{
         & .card:nth-of-type(3),
         & .card:nth-of-type(4),
         & .card:nth-of-type(5),
         & .card:nth-of-type(6),
         & .card:nth-of-type(7){
            grid-column: span 1;
         }
         &.air-indices{
            grid-template-columns: repeat(5,1fr);
         }
   }
}
}
@media(max-width:660px){
    .header{
        flex-direction: column;
        & h2{
            margin-bottom: 8px;
        }
        & #city ,#searchBtn, #locationBtn{
           width:100%;
           margin-bottom: 10px; 
        }
    }
}
@media(max-width :580px){
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width :520px){
    .weather-data .weather-right .highlights{
        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7){
           grid-column: span 2;
        }
        &.air-indices{
            grid-template-columns: repeat(3,1fr);
         }
    }
}
@media(max-width :480px){
    .weather-data .weather-right .highlights .sunrise-sunset{
        grid-template-columns: 1fr;
    }
}
@media(max-width :450px){
    .weather-data .weather-right .hourly-forecast{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width :380px){
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(2,1fr);
    }
}
